/* Set Website background color */
body{
	background-color:#fefefe;
}

/* Code Needed for Tor Logo */
.torlogo{
	height:40px;
	margin-top:-10px;
}

/* Use a monospace font for ASCII Art */
textarea{
	font-family: monospace;
}

/* Formatting of the Hamburger Menu to avoid custom fonts */
span.hamburger {
	font-size: 16px;
	font-weight: lighter;
	color: #fefefe;
}
