<html>
	<head>
		{% include "head.html" %}
	</head>

	<body>

		{% include "navbar.html" %}

		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<h2>TorPaste</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="list-group">
							{% if "none" in pastes %}
							<a href="/new" class="list-group-item">No pastes yet</a>
							{% else %}
							{% for paste in pastes %}
							<a href="/view/{{paste}}" class="list-group-item">{{paste}}</a>
							{% endfor %}
							{% endif %}
						</div>

					</div>
				</div>
			</div>
		</div>

		{% include "footer.html" %}

	</body>
</html>
