<div class="row">
	<div class="col-xs-12">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<input type="checkbox" id="navbar-toggle-cbox">
				<div class="navbar-header">
					<label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
						<span class="sr-only">Toggle Navigation</span>
						<span class="hamburger">&#x2630;</span>
					</label>
					<a class="navbar-brand" href="/">
						<img alt="Tor Project" class="torlogo" src="/static/img/logo.png">
					</a>
					<a class="navbar-brand" href="/">TorPaste</a>
    			</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="{% if page == 'list' %}active{% endif %}">
							<a href="/list">Pastes</a>
						</li>
						<li class="{% if page == 'about' %}active{% endif %}">
							<a href="/about">About</a>
						</li>
					</ul>
					<a href="/new" class="btn btn-default navbar-btn {% if page == 'new' %}active{% endif %} navbar-right">
								[+] New Paste
					</a>
				</div>
  			</div>
		</nav>
	</div>
</div>